﻿@page
@model Final_Project.Pages.Home.AdminHomeModel
@using System.Security.Claims;
@{
}

@if(!User.Identity.IsAuthenticated)
{
    <h1>You are not authenticated</h1>
    <p>Please login as admin <a asp-page="/Authentication/Login">Login</a></p>
}
@User
else
{
    <h1 style="text-align: center">Welcome @(User.FindFirst(ClaimTypes.Name).Value)</h1>
    <br />
    <h2>@Model.ListTitle</h2>
    <div>
        <a asp-route-role="0" class="btn">Student</a>
        <a asp-route-role="1" class="btn">Mentor</a>
    </div>
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>FullName</th>
        </tr>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>@item.Id</td>
                <td style="color: dodgerblue">@item.Email</td>
                <td>@item.FullName</td>
                <td><a asp-page="Schedule/View">View Schedule</a></td>
            </tr>
        }
    </table><br />
    <a asp-page="/Schedule/View" class="btn">View Schedule</a>
}



<style>
    .btn{
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        min-height: 20px;
        width: auto;
    }
    .btn:hover{
        background: aqua;
    }
</style>
