﻿@page
@model Final_Project.Pages.Home.UserHomeModel
@using Models;
@{
}
@if (!User.Identity.IsAuthenticated)
{
    <h1>You are not authenticated</h1>
    <p>Please login <a asp-page="/Authentication/Login">Login</a></p>
}
else
{
    <h1 style="text-align: center">Welcome <span style="color: dodgerblue">@Model.CurrentUser.FullName</span></h1>
    <h2>Your Schedule</h2><br />
    <table>
        <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
        </tr>
        @{
            var max = GetMaxListCount(Model.Schedule);
            for (int i = 0; i < max; i++)
            {
                <tr>
                    @for (int j = 2; j <= 8; j++)
                    {
                        var data = GetData(Model.Schedule.GetValueOrDefault(j), i);
                        if (data == null)
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>
                                <div>
                                    <span style="color: dodgerblue"><a asp-page="/Schedule/SlotView" asp-route-slot="@data.Id">@data.Subject.Name</a></span><br>
                                    <span style="font-size: 12px;">Room: @data.ClassRoom.Code</span><br>
                                    <span style="font-size: 12px;">Slot: @data.SlotNumber</span>
                                </div>
                            </td>
                        }
                    }
                </tr>
            }
        }
    </table>
    <br />
}

@functions {
    public Slot? GetData(List<Slot>? data, int index)
    {
        if (data == null) return null;
        return index < data.Count ? data[index] : null;
    }

    public int GetMaxListCount(Dictionary<int, List<Slot>> data)
    {
        var lists = new List<List<Slot>>(data.Values);
        int maxCount = 0;

        foreach (var list in lists)
        {
            if (list.Count > maxCount)
            {
                maxCount = list.Count;
            }
        }

        return maxCount;
    }
}
