﻿@page
@model Final_Project.Pages.Authentication.AccessDeniedModel
@{
}

<h1>Access Denied</h1>
<p>You dont have access to this page. Please login with required acess. <a asp-page="/Authentication/Login">Login</a></p>