﻿@page
@model Final_Project.Pages.Authentication.LoginModel
@{
}

<form method="post" asp-page-handler="Login">
    <input type="text" placeholder="Email" name="email"/><br />
    <input type="password" placeholder="Password" name="password" /><br />
    @if (!String.IsNullOrEmpty(Model.ErrorMessage))
    {
        <span style="color: red">@Model.ErrorMessage</span>
    }
    <input type="submit" value="Login" />
</form>
