﻿@page
@model Final_Project.Pages.Authentication.UnauthenticatedModel
@{
}
<h1>Access Denied</h1>
<p>You are not authenticated or the login session has expired. Please login to continue. <a asp-page="/Authentication/Login">Login</a></p>
