﻿@page
@model Final_Project.Pages.Schedule.SlotViewModel
@{
}

<a class="btn" asp-page="@(Model.CurrentUser.Role == 2 ? "/Schedule/View" : "/Home/UserHome")">Return View</a>
<br />
<h1>Slot Details</h1><br />

<div>
    <p><span><strong>Subject Name:</strong></span> @Model.Slot.Subject.Name</p>
    <p><span><strong>Classroom:</strong></span> @Model.Slot.ClassRoom.Code</p>
    <p><span><strong>Slot:</strong></span> @Model.Slot.SlotNumber</p>
    <p><span><strong>Date:</strong></span> @Model.Slot.SlotDate.ToShortDateString()</p>
    <p><span><strong>Mentor:</strong></span> @Model.Slot.Mentor.FullName</p>
</div><br />
<a id="change_mentor_btn" class="btn">Change Mentor</a><br />
<div id="mentor_list">
    @if(Model.AvailableMentorList.Count == 0)
    {
        <p>No mentor is available for this slot!</p>
    }
    else
    {
        <table>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>FullName</th>
            </tr>
            @foreach (var item in Model.AvailableMentorList)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Email</td>
                    <td>@item.FullName</td>
                    <td><a asp-page-handler="changementor" asp-route-slot="@Model.Slot.Id" asp-route-mid="@item.Id">Replace</a></td>
                </tr>
            }
        </table>

        <br />
    }
</div>

<h2>List Student</h2>
@if(Model.CurrentUser.Role == 2)
{
    <div>
        <a asp-route-slot="@Model.Slot.Id" class="btn">Current Student</a>
        <a asp-route-type="1" asp-route-slot="@Model.Slot.Id" class="btn">Add Student</a>
    </div>
}
<br />
@if(Model.CurrentStudentList.Count == 0)
{
    <p>This slot currently had no student yet!</p>
}
else
{
    <table>
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>FullName</th>
        </tr>
        @foreach (var item in Model.CurrentStudentList)
        {
            <tr>
                <td>@item.Student.Id</td>
                <td>@item.Student.Email</td>
                <td>@item.Student.FullName</td>
                @if(Model.CurrentUser.Role == 2)
                {
                    if (Model.Type == 0)
                    {
                        <td><a asp-page-handler="remove" asp-route-slot="@Model.Slot.Id" asp-route-type="@Model.Type" asp-route-sid="@item.Id">Remove for this</a></td>
                        <td><a asp-page-handler="removeall" asp-route-slot="@Model.Slot.Id" asp-route-type="@Model.Type" asp-route-uid="@item.Student.Id">Remove for all</a></td>
                    }
                    else
                    {
                        <td><a asp-page-handler="add" asp-route-slot="@Model.Slot.Id" asp-route-type="@Model.Type" asp-route-uid="@item.Student.Id">Add to this</a></td>
                        <td><a asp-page-handler="addall" asp-route-slot="@Model.Slot.Id" asp-route-type="@Model.Type" asp-route-uid="@item.Student.Id">Add to all</a></td>
                    }
                }
            </tr>
        }
    </table>
}
<br />
@foreach(var item in Model.ErrorMessages)
{
    <p style="color: red">@item</p>
}

<style>
    p{
        line-height: 0.5;
    }
    .btn {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        min-height: 20px;
        width: auto;
    }

        .btn:hover {
            background: aqua;
        }
    th,td{
        padding: 10px;
    }
    #mentor_list{
        display: none;
    }
</style>

<script>
    let status = "block";
    document.getElementById("change_mentor_btn").addEventListener("click", function(){
        var area = document.getElementById("mentor_list");
        area.style.display = status;
        if(status === "none") status = "block";
        else status = "none";
    })
</script>
