﻿@page
@model Final_Project.Pages.Schedule.ViewModel
@using Models
@{
} 
<a asp-page="/Home/AdminHome" class="btn">Return</a>
<h1>List of slot</h1>
<table>
    <tr>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
    </tr>
    @{
        var max = GetMaxListCount(Model.Schedule);
        for(int i = 0; i < max; i++)
        {
            <tr>
                @for(int j = 2; j <= 8; j++)
                {
                    var data = GetData(Model.Schedule.GetValueOrDefault(j), i);
                    if(data == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>
                            <div>
                                <span style="color: dodgerblue"><a asp-page="/Schedule/SlotView" asp-route-slot="@data.Id">@data.Subject.Name</a></span><br>
                                <span style="font-size: 12px;">Room: @data.ClassRoom.Code</span><br>
                                <span style="font-size: 12px;">Slot: @data.SlotNumber</span>
                            </div>
                        </td>
                    }
                }
            </tr>
        }
    }
</table><br />

<h2>Import Schedule</h2>
<div class="container">
    <div class="col-4">
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file" /><br>
            <button type="submit">Import Data</button>
        </form>
        <br />
    </div>

    @if (Model.ImportCsvErrorMessages != null)
    {
        <div class="col-8">
            @foreach (var item in Model.ImportCsvErrorMessages)
            {
            <p style="color: red">@item</p>
            }
        </div>
    }
</div>

@functions{
    public Slot? GetData(List<Slot>? data, int index)
    {
        if (data == null) return null;
        return index < data.Count ? data[index] : null;
    }

    public int GetMaxListCount(Dictionary<int, List<Slot>> data)
    {
        var lists = new List<List<Slot>>(data.Values);
        int maxCount = 0;

        foreach (var list in lists)
        {
            if (list.Count > maxCount)
            {
                maxCount = list.Count;
            }
        }

        return maxCount;
    }
}

<style>
    .btn {
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        min-height: 20px;
        width: auto;
    }

        .btn:hover {
            background: aqua;
        }
    p{
        line-height: 0.5;
    }
    button {
        margin-top: 10px;
        min-width: 150px;
        min-height: 20px;
        outline: none;
        border-radius: 5px;
        border: 1px solid black;
        padding: 2px;
    }

        button:hover {
            background: aqua;
        }
    a{
        text-decoration: none;
        cursor: pointer;
    }
    a:hover{
        color: blue;
    }
</style>
