﻿@page
@model RazorPagePractice.Pages.Report.DisplayModel
@{
}

<h1>@Model.test_string</h1><br/><hr/>
<table>
    <tr>
        <th style="border-bottom: 1px solid black; border-right: 1px solid black"></th>
        @{
            foreach(var item in Model.Subjects)
            {
                <th style="border-bottom: 1px solid black;">@item.Title</th>
            }
        }
    </tr>
    @{
        foreach(var item in Model.Students)
        {
            <tr>
                <td style="border-right: 1px solid black; text-align:left;">@item.Name</td>
                @foreach(var subject in Model.Subjects)
                {
                    <td>@Model.StudentRecords.FirstOrDefault(s => s.SubjectId == subject.Id && s.StudentId == item.Id)?.Mark</td>
                }
            </tr>
        }
    }
</table>

<hr/><br/>
<form method="post">
    <input type="text" asp-for="test_string" />
</form>

<style>
    th,td{
        padding: 10px;
        text-align:center;
    }
</style>
