﻿@page "{PageNumber}"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>@Model.SelectedCategoryId</h1>
<h1>List of products</h1><br/>
<form method="post">
    <select name="category" onchange="this.form.submit();">
        <option value="0">All Category</option>
        @foreach (var c in Model.Categories)
        {
            if(c.CategoryId == Model.SelectedCategoryId)
            {
                <option value="@c.CategoryId" selected>@c.CategoryName</option>
            }
            else{
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        }
    </select>
    <input asp-for="SearchKey" type="text" placeholder="Search Product" /> 
</form>
<br />
@if(Model.Products.Count == 0)
{
    <p>No data found!</p>
}
else
{
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>UnitPrice</th>
            <th>Category</th>
        </tr>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>@product.ProductId</td>
                <td style="text-align:left">@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>@product.Category.CategoryName</td>
                <td style="padding-left: 10px;"><a class="add_to_cart_button" data-productId="@product.ProductId">Add to cart</a></td>
            </tr>
        }
    </table>
}
<br />
<ul>
    @if(Model.PageCount > 1)
    {
        for (int i = 1; i <= Model.PageCount; i++)
        {
            if (i == Model.PageNumber)
            {
                <li><a asp-route-SearchKey="@Model.SearchKey" asp-route-PageNumber="@i" asp-route-SelectedCategoryId="@Model.SelectedCategoryId" class="active_page">@i</a></li>
            }
            else
            {
                <li><a asp-route-SearchKey="@Model.SearchKey" asp-route-PageNumber="@i" asp-route-SelectedCategoryId="@Model.SelectedCategoryId" class="page">@i</a></li>
            }
        }
    }
</ul>
<br />

<h2>Current Cart</h2>
<div id="cart_area">
    <p>Your cart is empty</p>
</div>

<button id="create_order_btn" disabled>Create Order</button>

<script src="~/microsoft/signalr/dist/browser/signalr.js"></script>

<style>
    td,th{
        text-align: center;
        padding: 10px;
    }
    input{
        outline: none;
        padding: 5px;
        width: 400px;
    }
    ul{
        list-style-type: none;
        padding-left: 10px;
    }
    li{
        display: inline;
        margin-right: 2px;
    }
    .page{
        color: darkblue;
    }
    .active_page{
        color: aqua;
    }
    #create_order_btn{
        border: 1px solid lightblue;
        border-radius: 10px;
        padding: 10px;
        min-width: 200px;
    }
    #create_order_btn:hover{
        background: aqua;
    }
    a{
        cursor: pointer;
    }
</style>

