﻿@page
@model RazorPage.Pages.Employee.ListModel

<h1>List Employees</h1>
@foreach(var emp in Model.Employees)
{
    <p><span>@emp.EmployeeId</span> - <span>@emp.FirstName  @emp.LastName</span></p>
}
